<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - %msg %n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="stdoutAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/chris/data/logs/webTest/webTest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/webTest.%d{yyyy-MM-dd}.log
			</fileNamePattern>
            <maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{0} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="stdoutAppender" />
	</root>	

</configuration>
